.App{
    width: 100vw;
    height: 100vh;
    border-inline: 2px solid white;
}
#main-header{
    width: 100vw;
    height: 64px;
    background-color: rgb(87, 154, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    letter-spacing: 3px;
    color: rgb(233, 233, 233);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.692);
}
#main-header img {
    width: auto;
    height: 64px;
    padding-right: 6px;
}
