.question-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 26px ;
    color: white;
    min-height: 64px;
    width: 80%;
    margin: 16px auto;
    background-color: rgb(92, 92, 175);
    border: 2px solid black;
    border-radius: 16px;
}
.card-holder{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
